/* General styling for the login form */
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}

.extra-links a {
  color: #007bff;
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}
.snackbar-success {
  background-color: #4caf50; /* Green for success */
  color: white; /* White text */
}

.snackbar-error {
  background-color: #f44336; /* Red for error */
  color: white; /* White text */
}
