<div class="dashboard-container">
  <h1>Welcome to the Dashboard</h1>
  <!-- 
  <div class="cards">
    <div class="card">
      <h2>Users</h2>
      <p>View and manage users.</p>
      <button routerLink="/users">Go to Users</button>
    </div>
  </div>
</div> -->
  <!-- Navigation buttons -->
  <div class="button-container">
    <!-- <button routerLink="/login" class="nav-button">Login</button> -->

    <!-- These buttons are accessible for students, teachers, and admins -->
    <button
      *ngIf="isStudentOrTeacher || isAdmin"
      routerLink="/users"
      class="nav-button"
    >
      Users
    </button>
    <button
      *ngIf="isStudentOrTeacher || isAdmin"
      routerLink="/students"
      class="nav-button"
    >
      Students
    </button>
    <button
      *ngIf="isStudentOrTeacher || isAdmin"
      routerLink="/teachers"
      class="nav-button"
    >
      Teachers
    </button>
    <!-- <button
      *ngIf="isStudentOrTeacher || isAdmin"
      routerLink="/subjects"
      class="nav-button"
    >
      Go to Subjects
    </button> -->
    <button
      *ngIf="isStudentOrTeacher || isAdmin"
      routerLink="/timetable"
      class="nav-button"
    >
      Timetable
    </button>
    <button
      *ngIf="isStudentOrTeacher || isAdmin"
      (click)="logout()"
      class="nav-button"
    >
      Logout
    </button>
  </div>
</div>
