<div class="create-user-form mat-elevation-z8">
  <h2>Create User</h2>
  <form
    [formGroup]="createUserForm"
    (ngSubmit)="onSubmit()"
    class="mat-form-field"
  >
    <!-- User Type -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>User Type</mat-label>
      <mat-select id="type" formControlName="type">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="teacher">Teacher</mat-option>
        <mat-option value="student">Student</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Username -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput id="username" formControlName="username" type="text" />
      <mat-error *ngIf="createUserForm.get('username')?.invalid">
        Username is required.
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        formControlName="password"
        type="password"
      />
      <mat-error *ngIf="createUserForm.get('password')?.invalid">
        Password is required.
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" formControlName="email" type="email" />
      <mat-error *ngIf="createUserForm.get('email')?.invalid">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <!-- Teacher-specific Fields -->
    <div *ngIf="createUserForm.get('type')?.value === 'teacher'">
      <!-- Name -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" type="text" />
        <mat-error *ngIf="createUserForm.get('name')?.invalid">
          Name is required.
        </mat-error>
      </mat-form-field>

      <!-- Subject Specialization -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subject Specialization</mat-label>
        <input
          matInput
          id="subjectSpecialization"
          formControlName="subjectSpecialization"
          type="text"
        />
        <mat-error *ngIf="createUserForm.get('subjectSpecialization')?.invalid">
          Subject Specialization is required.
        </mat-error>
      </mat-form-field>

      <!-- Subjects -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subjects</mat-label>
        <mat-select id="subjects" formControlName="subjects" multiple>
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Student-specific Fields -->
    <div *ngIf="createUserForm.get('type')?.value === 'student'">
      <!-- studentId -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>studentId</mat-label>
        <input
          matInput
          id="studentId"
          formControlName="studentId"
          type="text"
        />
        <mat-error *ngIf="createUserForm.get('studentId')?.invalid">
          studentId is required.
        </mat-error>
      </mat-form-field>

      <!-- Grade -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Grade</mat-label>
        <input matInput id="grade" formControlName="grade" type="text" />
        <mat-error *ngIf="createUserForm.get('grade')?.invalid">
          Grade is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Roles -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Roles</mat-label>
      <mat-select id="roles" formControlName="roles" multiple>
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="TEACHER">Teacher</mat-option>
        <mat-option value="STUDENT">Student</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="createUserForm.invalid"
      >
        Create User
      </button>
    </div>
  </form>
</div>
